@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family:"Poppins", sans-serif;
}

body{
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: 90%;
    max-width: 600px;
    justify-content: center;
}

.navbar {
    display: none;
}


/* SIDE NAVIGATION */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* NAVBAR CSS END */

.social-medias {
    display: none;
}


.social-medias1 {
    position: absolute;
    bottom: 10px;
    margin-right: 1em;
    left: 20px;
}

.social-medias1 a {
    margin-right: 10px;
    color: black;
}






/* MEDIA SETUP */

@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {

        #logo {
            position: relative;
            width: 13%;
            left: 20px;
            top: 18px;
        }
        
        #logoname {
            position: relative;
            left: 15px;
            width: 40%;
            top: 20px;
        }

        #sidebars {
            position: absolute;
            float: right;
            right: 50px;
            top: 55px;
        }

        #interns{
            position: absolute;
            width: 60%;
            bottom: 0in;
            right: 0px;
        }

        .content h1 {
            font-size: 45px;
            position: absolute;
            top: 25%;
            left: 50px;
            font-weight: 500;
        }
        
        .content h1 a {
            font-weight: bolder;
            font-size: 60px;
        }
        
        #apply_button {
            position: absolute;
            width: 50%;
            top: 60%;
            left: 30px;
        }

    
}
 

@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    
    }
 
@media screen and (max-device-width: 640px) 
    and (orientation: landscape) {
    
}
 

@media screen
    and (max-device-width: 640px) {
    
}
 

@media screen and (min-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    
}
 

@media (device-height: 568px) 
    and (device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    

    
}
 

@media (min-device-height: 667px) 
    and (min-device-width: 375px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    


};