* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 15px;
}
.cp-container {
    width: 1170px;
    margin: 0px auto;
}
.cp-width-100 {
     width: 100%;
     float: left;
}
.cp-width-50 {
    width: 50%;
    float: left;
}
.cp-width-25 {
     width: 25%;
     float: left;
}
.cp-header {
     padding-top: 20px;
     padding-bottom: 60px;
}
.cp-header-menu {
     list-style: none;
     margin-top: 10px;
}
.cp-header-menu li {
    float: left;
    font-size: 15px;
}
.cp-header-menu li a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
}
.cp-button-job-post {
    background-color: #e34216;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    padding: 10px;
    text-decoration: none;
}
.cp-button-resume {
    background-color: #17acde;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
}
.cp-banner-section {
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 350px;
    position: relative;
    width: 100%;
}
.cp-banner-heading {
    font-size: 40px;
    color: black;
    padding-top: 70px;
}
.cp-banner-para {
    font-size: 15px;
    color: black;
    padding-top: 10px;
}
.cp-search-sect {
    margin-top: 40px;
    width: 25%;
    float: left;
    position: relative;
}
.cp-search-textbox {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-top: none;
    border-bottom: none;
    border-color: #d9d9d9;
    border-right: none;
    border-width: 1px;
}
.cp-search-button {
    width: 100%;
    height: 40px;
    background-color: #e34216;
    border: none;
    color: #fff;
}
.cp-search-sect .icons {
    position: absolute;
    top: 12px;
    right: 10px;
}
.cp-width-66 {
    width: 66%;
    float: left;
}
.cp-width-33 {
    width: 33%;
    float: left;
}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 90px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h4 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 9px;
    font-weight: 5px;

}

.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h5 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h6 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h7 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h8 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h2 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 16px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}

.cp-skill-list h9 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
.cp-skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 60px;
}
.cp-skill-list {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.cp-skill-list img {
    width: 60px;
    height: 60px;
    border-radius: 200px;

}
.cp-skill-list h10 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
}
.cp-skill-list p {
    font-size: 8px;
    font-weight: 5px;

}
* {box-sizing:border-box}

/* Slideshow container */
.cp-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.cp-mySlides {
  display: none;
}

/* Next & previous buttons */
.cp-prev, .cp-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.cp-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.cp-prev:hover, .cp-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.cp-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.cp-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.cp-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.cp-active, .cp-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.cp-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes cp-fade {
  from {opacity: .4}
  to {opacity: 1}
}






.cp-footer background {
     background-color: #e40d0d;
     padding-top: 60px;
     padding-bottom: 80px;
     color: rgba(0, 0, 0, 0.86);
}
.cp-footer-list {
    list-style: none;
    line-height: 35px;
    padding-top: 20px;
}
